node_modules/
**/node_modules/
.next/
**/.next/
out/
**/out/
cache/
**/cache/
broadcast/
**/broadcast/
contracts/lib/
**/dist/
build/
**/build/
generated/
**/generated/
public/fonts/
**/public/fonts/
pnpm-lock.yaml
*.log
contracts/foundry.lock
